body, html{
  height: 100%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .tecnologias{
    height:100%;
  }
  a.logo{
    font-size:1.625em;
  }
  .menu {
    font-size:1.25em;
  }
  .sects{
    height:90%;
    padding-top: 50px;
  }
  .banner{
    border: 3em solid transparent;
    margin: -150px 0px;
    padding: 100px 0px;
  }
  .banner h1{
    font-size: 4em;
  }
  .banner h2{
    font-size:2em;
  }
  .about p{
    font-size: 1.25em;
  }
  .contactform{
    width:600px;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .tecnologias{
    height:100%;
  }
  a.logo{
    font-size:1.625em;
  }
  .menu {
    font-size:1.25em;
  }
  .sects{
    height:70%
  }
  .banner{
    border: 48px solid transparent;
    margin: -150px 0px;
    padding: 100px 0px;
  }
  .banner h1{
    font-size:50px;
  }
  .about p{
    font-size: 18px;
  }
  .contactform{
    width:400px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .menu {
    font-size:1em;
  }
  .sects{
    height:45%
  }
  .banner{
    border: 30px solid transparent;
    margin: -150px 0px;
    padding: 100px 0px;
  }
  .contactform{
    width:600px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .menu {
    font-size:1em;
  }
  .sects{
    height:85%
  }
  .banner{
    border: 20px solid transparent;
    margin: -100px 0px;
    padding: 30px 80px;
  }
  .contactform{
    width:500px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .menu {
    font-size:1em;
  }
  .sects{
    height:75%
  }
  .banner{
    border: 20px solid transparent;
    margin: -150px 0px;
    padding: 50px 0px;
  }
  .contactform{
    width:300px;
  }
}

h1,h2,h3,h4,h5,h6,p,a {
  font-family: Courier, monospace;
}

.transp {
  background-color: black !important;
  background: transparent;
  border-color: transparent !important;
}

.head{
  background-color: #000000;
}

.center{
  text-align: center;
}

.vcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner{
  color: #FFFFFF;
  -webkit-border-image: url("../images/header.png") 30 round; /* Safari 3.1-5 */
  -o-border-image: url("../images/header.png") 30 round; /* Opera 11-12.1 */
  border-image: url("../images/header.png") 30 round;
}

/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}


/* Contact Information */
.fa-circle{
  color: #000000;
}
